# load data

In [ ]:
import pandas as pd
import numpy as np


def load_data(
    path: str,
    dayfirst: bool = True
) -> pd.DataFrame:
 

    # Load raw data
    df = pd.read_csv(path)

    # Chuẩn hóa tên cột
    df.columns = df.columns.str.strip()

    # Parse date
    if "date" in df.columns:
        df["date"] = pd.to_datetime(
            df["date"],
            dayfirst=dayfirst,
            errors="coerce"
        )

    #Cột số
    num_cols = [
        "severity_index",
        "casualties",
        "economic_loss_usd",
        "response_time_hours",
        "aid_amount_usd",
        "response_efficiency_score",
        "recovery_days",
        "latitude",
        "longitude"
    ]

    for col in num_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors="coerce")

    return df

,date,country,disaster_type,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days,latitude,longitude
2,2021-01-31,Brazil,Earthquake,5.99,111,7934365.71,15.62,271603.79,83.21,67,-30.613,-122.557
3,2018-12-23,Brazil,Extreme Heat,6.53,100,8307648.99,5.03,265873.81,96.18,55,10.859,-159.194
4,2020-08-10,India,Hurricane,1.55,22,765136.99,32.54,49356.49,60.40,22,0.643,-160.978
5,2022-09-15,Indonesia,Extreme Heat,4.55,94,1308251.31,7.83,237512.88,86.41,47,-33.547,30.350
6,2022-09-28,United States,Wildfire,3.80,64,2655864.36,21.90,188910.69,72.81,42,-19.170,-117.137

In [3]:
display(df.shape)
display(df.dtypes)

# Missing
missing = df.isna().sum().sort_values(ascending=False)
display(missing[missing>0])

# Trùng lặp
print("Duplicate rows:", df.duplicated().sum())

# Thống kê mô tả số
display(df.describe(include=[np.number]).T)

(50000, 12)

date                         datetime64[ns]
country                              object
disaster_type                        object
severity_index                      float64
casualties                            int64
economic_loss_usd                   float64
response_time_hours                 float64
aid_amount_usd                      float64
response_efficiency_score           float64
recovery_days                         int64
latitude                            float64
longitude                           float64
dtype: object

Series([], dtype: int64)

Duplicate rows: 0

,count,mean,std,min,25%,50%,75%,max
severity_index,50000.0,5.015769e+00,1.942843e+00,1.000,3.660000e+00,4.990000e+00,6.340000e+00,1.000000e+01
casualties,50000.0,1.005911e+02,6.505206e+01,0.000,5.100000e+01,9.100000e+01,1.380000e+02,5.240000e+02
economic_loss_usd,50000.0,5.068593e+06,3.268541e+06,527.390,2.585513e+06,4.548351e+06,6.950615e+06,2.445624e+07
response_time_hours,50000.0,1.218303e+01,9.259081e+00,1.000,6.270000e+00,1.051000e+01,1.545000e+01,6.310000e+01
aid_amount_usd,50000.0,2.500003e+05,1.432275e+05,16.600,1.429663e+05,2.305365e+05,3.352259e+05,1.126465e+06
response_efficiency_score,50000.0,8.757402e+01,1.018896e+01,29.750,8.306000e+01,8.918000e+01,9.470000e+01,1.000000e+02
recovery_days,50000.0,4.968256e+01,2.009894e+01,2.000,3.600000e+01,4.900000e+01,6.300000e+01,1.120000e+02
latitude,50000.0,2.312053e-01,3.475966e+01,-59.994,-2.984825e+01,2.675000e-01,3.048825e+01,5.999700e+01
longitude,50000.0,8.988896e-02,9.838021e+01,-169.998,-8.555175e+01,3.905000e-01,8.566500e+01,1.699990e+02