# xem nhanh qua data

In [ ]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv("global_disaster_response_2018_2024.csv")

print(df.shape)
df.head()

(50000, 12)

,date,country,disaster_type,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days,latitude,longitude
0,31/1/2021,Brazil,Earthquake,5.99,111,7934365.71,15.62,271603.79,83.21,67,-30.613,-122.557
1,23/12/2018,Brazil,Extreme Heat,6.53,100,8307648.99,5.03,265873.81,96.18,55,10.859,-159.194
2,10/8/2020,India,Hurricane,1.55,22,765136.99,32.54,49356.49,60.40,22,0.643,-160.978
3,15/9/2022,Indonesia,Extreme Heat,4.55,94,1308251.31,7.83,237512.88,86.41,47,-33.547,30.350
4,28/9/2022,United States,Wildfire,3.80,64,2655864.36,21.90,188910.69,72.81,42,-19.170,-117.137

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       50000 non-null  object
 1   country                    50000 non-null  object
 2   disaster_type              50000 non-null  object
 3   severity_index             50000 non-null  float64
 4   casualties                 50000 non-null  int64
 5   economic_loss_usd          50000 non-null  float64
 6   response_time_hours        50000 non-null  float64
 7   aid_amount_usd             50000 non-null  float64
 8   response_efficiency_score  50000 non-null  float64
 9   recovery_days              50000 non-null  int64
 10  latitude                   50000 non-null  float64
 11  longitude                  50000 non-null  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 4.6+ MB

In [12]:
# tìm ngày bắt đầu và kết thúc thu nhập dữ liệu
print("Ngày bắt đầu:", df['date'].min())
print("Ngày kết thúc:", df['date'].max())

Ngày bắt đầu: 2018-01-01 00:00:00
Ngày kết thúc: 2024-12-31 00:00:00

In [ ]:
# tìm các quốc gia có trong dataset 
df['country'].nunique()
print(sorted(df['country'].unique()))

['Australia', 'Bangladesh', 'Brazil', 'Canada', 'Chile', 'China', 'France', 'Germany', 'Greece', 'India', 'Indonesia', 'Italy', 'Japan', 'Mexico', 'Nigeria', 'Philippines', 'South Africa', 'Spain', 'Turkey', 'United States']

In [ ]:
import pandas as pd
import plotly.express as px

# Đọc dữ liệu
df = pd.read_csv("global_disaster_response_2018_2024.csv")

# Đếm số sự kiện theo quốc gia
country_count = (
    df.groupby("country")
      .size()
      .reset_index(name="num_disasters")
)

In [ ]:
fig = px.choropleth(
    country_count,
    locations="country",
    locationmode="country names",   # RẤT QUAN TRỌNG
    color="num_disasters",
    color_continuous_scale="Reds",
    title="World Map of Countries in Disaster Dataset (2018–2024)"
)

fig.show()

C:\Users\khoa\AppData\Local\Temp\ipykernel_9832\1548690952.py:1: DeprecationWarning:

The library used by the *country names* `locationmode` option is changing in an upcoming version. Country names in existing plots may not work in the new version. To ensure consistent behavior, consider setting `locationmode` to *ISO-3*.

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

 0   date                       Ngày xảy ra thảm họa        Ngày/tháng/năm  từ 1/1/2018 đến 31/12/2024
 1   country                    Quốc gia                    20 quốc gia     phân bố đều theo 5 châu lục
 2   disaster_type              Loại thảm họa               h
 3   severity_index             Mức độ nghiêm trọng         h
 4   casualties                 Người chết và bị thương     h
 5   economic_loss_usd          Thiệt hại kinh tế           h
 6   response_time_hours        thời gian phản ứng          h
 7   aid_amount_usd             Tổng viện trợ               h
 8   response_efficiency_score  Hiệu quả ứng phó            h
 9   recovery_days              Số ngày hồi phục            h
 10  latitude                   Vĩ độ                       h
 11  longitude                  Kinh độ                     h

In [4]:
import pandas as pd

pd.set_option('display.float_format', '{:.6f}'.format)
df.describe()

df.describe()

,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days,latitude,longitude
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,5.015769,100.591140,5068593.448265,12.183027,250000.329129,87.574025,49.682560,0.231205,0.089889
std,1.942843,65.052064,3268540.520971,9.259081,143227.514276,10.188961,20.098944,34.759662,98.380208
min,1.000000,0.000000,527.390000,1.000000,16.600000,29.750000,2.000000,-59.994000,-169.998000
25%,3.660000,51.000000,2585513.477500,6.270000,142966.335000,83.060000,36.000000,-29.848250,-85.551750
50%,4.990000,91.000000,4548350.735000,10.510000,230536.470000,89.180000,49.000000,0.267500,0.390500
75%,6.340000,138.000000,6950614.605000,15.450000,335225.930000,94.700000,63.000000,30.488250,85.665000
max,10.000000,524.000000,24456237.870000,63.100000,1126465.230000,100.000000,112.000000,59.997000,169.999000

In [5]:
df.isnull().sum().sort_values(ascending=False)

date                         0
country                      0
disaster_type                0
severity_index               0
casualties                   0
economic_loss_usd            0
response_time_hours          0
aid_amount_usd               0
response_efficiency_score    0
recovery_days                0
latitude                     0
longitude                    0
dtype: int64

# nhận xét:
- data đầu vào sạch không có giá trị missing.

# chuẩn hóa dữ liệu

In [7]:
# chuẩn hóa tọa độ
df["latitude"] = pd.to_numeric(df["latitude"])
df["longitude"] = pd.to_numeric(df["longitude"])

In [8]:
# chuẩn hóa ngày tháng
df["date"] = pd.to_datetime(df["date"], errors="coerce")
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month

In [9]:
df.to_csv(
    "data_da_tien_xu_ly.csv",
    index=False,
    encoding="utf-8-sig"
)